<!DOCTYPE html>
    <html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mad Scientist</title>
    <style>{{css_styles | safe }}</style>	
     </head>
    <body>
    <div class="container">
    <div class="form-container">
    <div>
        <form action="/mad-scientist/" method="post">
        <div class="message">Welcome to {{ app_name }} Chat! You are running {{ brain_model }}</div>
        <textarea class="message-text" name="prompt" id="messageInput" rows="4" cols="50" placeholder="Chat here..."></textarea> 
        <input type="hidden" name="brain_model" value="{{ brain_model }}">
        <input type="hidden" name="image_model" value="{{ image_model }}">    
        <button class="submit input-element">Send</button>
        </form>
    <div class="message">
   <!-- Display the last user message here -->
       
            <div class="message last-user-message">
                <span class="message-sender">You:</span>
                <p class="message-text">{{ message }} </p>
            </div>
      
    </div>
    </div>
    </div>

    <div class="chat-container">
    <div class="message">
    <span class="message-sender"> </span>
    
    <div class="avatar">
        <img src={{ durl }} id="avatarImage" alt="Generated Avatar">    
    </div>
    <p class="message-text">{{ response }}</p>
    
    </div>
    </div>
    
    </div>
    </body>
    </html>
